.photo-grid__caption-holder {
  display: flex;
  width: 282px;
  height: 79px;
  margin: 0;
  justify-content: center;
  background-size: 282px 79px;
  background-color: white;
  border-radius: 0 0 10px 10px;
}